<h1>All Categories</h1>

<ul>
  <% @all_categories.each do |category| %>
    <li>
      <%= link_to category.name, user_category_expenses_path(user_id: current_user.id, category_id: category.id) %>
      <%= image_tag category.image, class: 'category-image' if category.image.attached?%>
    </li>
  <% end %>
</ul>
